<!DOCTYPE html>
<html>
<head>
    <title>게시글 수정 - <%= post[0].board_name %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <style>
        #whole {
  display: grid;
  grid-template-columns: 1fr 19fr;
  height: 800px;
  position: fixed;
  top: 0; 
  left: 0; 
}

nav {
  background-color: #333;
  width: 200px;
  color: #fff;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav li {
  padding: 10px;
}

nav a {
  text-decoration: none;
  color: #fff;
}

nav a:hover {
  color: #ff7f00;
}

.user {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.user span {
  margin-right: 10px;
}

#logout {
  background-color: #ff7f00;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

#logout:hover {
  background-color: #ff4500;
}
  </style>
</head>
<body>
    <div id="whole">
    <nav>
      <ul>
          <li><a href="/boards">게시판</a></li>
          <li><a href="/parking">주차장</a></li>
          <li><a href="/user/list">회원 목록</a></li>
          <li><a href="/notify">알림</a></li>
      </ul>
      <div class="user">
        <span>사용자 이름</span>
        <a href="/logout">
            <button id="logout">로그아웃</button>
        </a>
    </div>
    </nav>
    <div class="main">
    <div class="container">
        <h1 class="text-center mt-4">게시글 수정 - <%= post[0].board_name %></h1>
        <form action="/boards/<%= post[0].board_code %>/posts/<%= post[0].post_code %>" method="POST" id="editForm">
            <div class="form-group">
                <label for="title">제목</label>
                <input type="text" class="form-control" id="title" name="title" value="<%= post[0].title %>">
            </div>
            <div class="form-group">
                <label for="post_contents">내용</label>
                <textarea class="form-control" id="post_contents" name="post_contents"><%= post[0].post_contents %></textarea>
            </div>
            <button type="submit" class="btn btn-primary">수정 완료</button>
        </form>
        <button class="btn btn-secondary" onclick="location.href='/boards/<%= post[0].board_code %>/posts/<%= post[0].post_code %>'">취소</button>
    </div>
    </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script>
        $("#editForm").on("submit", function(e) {
            e.preventDefault();

            var url = "/boards/<%= post[0].board_code %>/posts/<%= post[0].post_code %>";
            var data = $(this).serialize();

            $.ajax({
                type: "PUT",
                url: url,
                data: data,
                success: function(response) {
                    alert("수정 완료");
                    window.location.href = "/boards/<%= post[0].board_code %>/posts/<%= post[0].post_code %>";
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    alert("수정 실패: " + textStatus);
                }
            });
        });
    </script>
</body>
</html>