<!DOCTYPE html>
<html>
<head>
  <title>자리 현황</title>
  <style>
    /* 페이지 전체 영역 */
    html, body {
      height: 100%;
      margin: 0;
      padding: 0;
    }
  
    /* 표 컨테이너 */
    .table-container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
    }
  
    /* 표 스타일 */
    table {
      border-collapse: collapse;
      width: 100%;
      table-layout: fixed; /* 표의 크기를 고정으로 설정 */
    }
  
    td {
      border: 1px solid black;
      padding: 0;
      width: 1rem;
      height: 15rem;
      text-align: center;
    }
  
    .container {
      display: flex;
      justify-content: space-between;
      margin-bottom: 50px;
      margin-left: 100px; /* 왼쪽 간격 조절 */
      margin-right: 100px; /* 오른쪽 간격 조절 */
    }
  
    .section {
      width: calc(33.33% - 10px);
      margin: 50px;
    }
  
    .section-header {
      text-align: center;
      margin: 10px 0;
    }
  
  /* 모달 팝업 스타일 */
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
  }

  .modal-content {
    position: absolute;
    background-color: #fefefe;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
  }

  </style>
  
</head>
<body>
    <% include header.ejs %>
  <h1>자리 현황</h1>
  <div class="container">
    <div class="modal" id="myModal">
      <div class="modal-content">
        <span class="close" id="closeModal">&times;</span>
        <div id="modalContent">
        </div>
      </div>
    </div>
    <div class="section">
      <% const sectionDataA = result.result.filter(obj => obj.section === 'A'); %>
      <h2 class="section-header">Section A</h2>
      <table>
        <% for (let row = 1; row <= 2; row++) { %>
          <tr>
            <% for (let col = 1; col <= 3; col++) { %>
            <% const filteredData = sectionDataA.filter(obj => obj.section_number === ((row - 1) * 3 + col)); %>
            <% const carNumExists = filteredData.length > 0 ? filteredData[0].car_num_exists : null; %>
            <% const carNum = filteredData.length > 0 ? filteredData[0].car_num : null; %>
            <% const id = filteredData.length > 0 ? filteredData[0].id : null; %>
            <% const phoneNumber = filteredData.length > 0 ? filteredData[0].phone_number : null; %>
            
            <% const carLocExists = result.carLocData[0].section === 'A' && result.carLocData[0].section_number === ((row - 1) * 3 + col); %>
            <td  <% if (carLocExists) { %>style="border-color: red;"<% } %>>
              <div class="car-info">
                <% if (carNumExists) { %>
                  <img src="/images/car.jpg" alt="Car Image" data-carNum="<%= carNum %>" data-id="<%= id %>" 
                   data-phoneNumber="<%= phoneNumber %>" style="width:100%; height:100%; object-fit: cover;" >
                    <div class="details" style="display: none;">
                  </div>
                <% } %>
              </div>
              
            </td>
            <% } %>
          </tr>
        <% } %>
      </table>
    </div>

    <div class="section">
      <% const sectionDataC = result.result.filter(obj => obj.section === 'C'); %>
      <h2 class="section-header">Section C</h2>
      <table>
        <% for (let row = 1; row <= 2; row++) { %>
          <tr>
            <% for (let col = 1; col <= 3; col++) { %>
            <% const filteredData = sectionDataC.filter(obj => obj.section_number === ((row - 1) * 3 + col)); %>
            <% const carNumExists = filteredData.length > 0 ? filteredData[0].car_num_exists : null; %>
            <% const carNum = filteredData.length > 0 ? filteredData[0].car_num : null; %>
            <% const id = filteredData.length > 0 ? filteredData[0].id : null; %>
            <% const phoneNumber = filteredData.length > 0 ? filteredData[0].phone_number : null; %>
            
            <% const carLocExists = result.carLocData[0].section === 'C' && result.carLocData[0].section_number === ((row - 1) * 3 + col); %>
            <td  <% if (carLocExists) { %>style="border-color: red;"<% } %>>
              <div class="car-info">
                <% if (carNumExists) { %>
                  <img src="/images/car.jpg" alt="Car Image" data-carNum="<%= carNum %>" data-id="<%= id %>" 
                   data-phoneNumber="<%= phoneNumber %>" style="width:100%; height:100%; object-fit: cover;" >
                    <div class="details" style="display: none;">
                  </div>
                <% } %>
              </div>
              
            </td>
            <% } %>
          </tr>
        <% } %>
      </table>
    </div>

    <div class="section">
      <% const sectionDataE = result.result.filter(obj => obj.section === 'E'); %>
      <h2 class="section-header">Section E</h2>
      <table>
        <% for (let row = 1; row <= 2; row++) { %>
          <tr>
            <% for (let col = 1; col <= 3; col++) { %>
            <% const filteredData = sectionDataE.filter(obj => obj.section_number === ((row - 1) * 3 + col)); %>
            <% const carNumExists = filteredData.length > 0 ? filteredData[0].car_num_exists : null; %>
            <% const carNum = filteredData.length > 0 ? filteredData[0].car_num : null; %>
            <% const id = filteredData.length > 0 ? filteredData[0].id : null; %>
            <% const phoneNumber = filteredData.length > 0 ? filteredData[0].phone_number : null; %>
            
            <% const carLocExists = result.carLocData[0].section === 'E' && result.carLocData[0].section_number === ((row - 1) * 3 + col); %>
            <td  <% if (carLocExists) { %>style="border-color: red;"<% } %>>
              <div class="car-info">
                <% if (carNumExists) { %>
                  <img src="/images/car.jpg" alt="Car Image" data-carNum="<%= carNum %>" data-id="<%= id %>" 
                   data-phoneNumber="<%= phoneNumber %>" style="width:100%; height:100%; object-fit: cover;" >
                    <div class="details" style="display: none;">
                  </div>
                <% } %>
              </div>
              
            </td>
            <% } %>
          </tr>
        <% } %>
      </table>
    </div>
  </div>
  
  <div class="container">
    <div class="section">
      <% const sectionDataB = result.result.filter(obj => obj.section === 'B'); %>
      <h2 class="section-header">Section B</h2>
      <table>
        <% for (let row = 1; row <= 2; row++) { %>
          <tr>
            <% for (let col = 1; col <= 3; col++) { %>
            <% const filteredData = sectionDataB.filter(obj => obj.section_number === ((row - 1) * 3 + col)); %>
            <% const carNumExists = filteredData.length > 0 ? filteredData[0].car_num_exists : null; %>
            <% const carNum = filteredData.length > 0 ? filteredData[0].car_num : null; %>
            <% const id = filteredData.length > 0 ? filteredData[0].id : null; %>
            <% const phoneNumber = filteredData.length > 0 ? filteredData[0].phone_number : null; %>
            
            <% const carLocExists = result.carLocData[0].section === 'B' && result.carLocData[0].section_number === ((row - 1) * 3 + col); %>
            <td  <% if (carLocExists) { %>style="border-color: red;"<% } %>>
              <div class="car-info">
                <% if (carNumExists) { %>
                  <img src="/images/car.jpg" alt="Car Image" data-carNum="<%= carNum %>" data-id="<%= id %>" 
                   data-phoneNumber="<%= phoneNumber %>" style="width:100%; height:100%; object-fit: cover;" >
                    <div class="details" style="display: none;">
                  </div>
                <% } %>
              </div>
              
            </td>
            <% } %>
          </tr>
        <% } %>
      </table>
    </div>

    <div class="section">
      <% const sectionDataD = result.result.filter(obj => obj.section === 'D'); %>
      <h2 class="section-header">Section D</h2>
      <table>
        <% for (let row = 1; row <= 2; row++) { %>
          <tr>
            <% for (let col = 1; col <= 3; col++) { %>
            <% const filteredData = sectionDataD.filter(obj => obj.section_number === ((row - 1) * 3 + col)); %>
            <% const carNumExists = filteredData.length > 0 ? filteredData[0].car_num_exists : null; %>
            <% const carNum = filteredData.length > 0 ? filteredData[0].car_num : null; %>
            <% const id = filteredData.length > 0 ? filteredData[0].id : null; %>
            <% const phoneNumber = filteredData.length > 0 ? filteredData[0].phone_number : null; %>
            
            <% const carLocExists = result.carLocData[0].section === 'D' && result.carLocData[0].section_number === ((row - 1) * 3 + col); %>
            <td  <% if (carLocExists) { %>style="border-color: red;"<% } %>>
              <div class="car-info">
                <% if (carNumExists) { %>
                  <img src="/images/car.jpg" alt="Car Image" data-carNum="<%= carNum %>" data-id="<%= id %>" 
                   data-phoneNumber="<%= phoneNumber %>" style="width:100%; height:100%; object-fit: cover;" >
                    <div class="details" style="display: none;">
                  </div>
                <% } %>
              </div>
              
            </td>
            <% } %>
          </tr>
        <% } %>
      </table>
    </div>

    <div class="section">
      <% const sectionDataF = result.result.filter(obj => obj.section === 'F'); %>
      <h2 class="section-header">Section F</h2>
      <table>
        <% for (let row = 1; row <= 2; row++) { %>
          <tr>
            <% for (let col = 1; col <= 3; col++) { %>
            <% const filteredData = sectionDataF.filter(obj => obj.section_number === ((row - 1) * 3 + col)); %>
            <% const carNumExists = filteredData.length > 0 ? filteredData[0].car_num_exists : null; %>
            <% const carNum = filteredData.length > 0 ? filteredData[0].car_num : null; %>
            <% const id = filteredData.length > 0 ? filteredData[0].id : null; %>
            <% const phoneNumber = filteredData.length > 0 ? filteredData[0].phone_number : null; %>
            
            <% const carLocExists = result.carLocData[0].section === 'F' && result.carLocData[0].section_number === ((row - 1) * 3 + col); %>
            <td  <% if (carLocExists) { %>style="border-color: red;"<% } %>>
              <div class="car-info">
                <% if (carNumExists) { %>
                  <img src="/images/car.jpg" alt="Car Image" data-carNum="<%= carNum %>" data-id="<%= id %>" 
                   data-phoneNumber="<%= phoneNumber %>" style="width:100%; height:100%; object-fit: cover;" >
                    <div class="details" style="display: none;">
                  </div>
                <% } %>
              </div>
              
            </td>
            <% } %>
          </tr>
        <% } %>
      </table>
    </div>
  </div>


  <script>
    document.querySelectorAll('.car-info img').forEach(img => {
      img.addEventListener('click', function() {
        const carNum = this.getAttribute('data-carNum');
        const id = this.getAttribute('data-id');
        const phoneNumber = this.getAttribute('data-phoneNumber');
        const userCode =  '<%= result.user_code %>';
        if(userCode == 1){
        const modal = document.getElementById('myModal');
        const modalContent = document.getElementById('modalContent');
        let contentHTML = "";
        contentHTML += `<br>차 번호: ${carNum}`;
        if (id !== "" && phoneNumber !== "") {
          if (id !== "") {
            contentHTML += `<br>회원 ID : ${id}`;
          }
          if (phoneNumber !== "") {
            contentHTML += `<br>전화번호 : ${phoneNumber}`;
          }
        } else {
          contentHTML += '<br>비회원입니다';
        }
        modalContent.innerHTML = contentHTML;
  
        modal.style.display = 'block';
  
        // 모달 닫기 버튼에 이벤트 핸들러 추가
        const closeModal = document.getElementById('closeModal');
        closeModal.addEventListener('click', function() {
          modal.style.display = 'none';
        });
      }
      });
    });
  </script>
  
</body>
</html>
