<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<style>
  #whole {
      display: grid;
      grid-template-columns: 1fr 19fr;
      height: 1000px;
      position: fixed;
      top: 0; 
      left: 0; 
  }

  nav {
      background-color: #333;
      width: 200px;
      color: #fff;
      padding: 10px;
  }

  nav ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
  }

  nav li {
      padding: 10px;
  }

  nav a {
      text-decoration: none;
      color: #fff;
  }

  nav a:hover {
      color: #ff7f00;
  }

  .user {
      margin-top: 20px;
      display: flex;
      align-items: center;
  }

  .user span {
      margin-right: 10px;
  }

  #logout {
      background-color: #ff7f00;
      color: #fff;
      border: none;
      padding: 5px 10px;
      cursor: pointer;
  }

  #logout:hover {
      background-color: #ff4500;
  }
  #floorDropdown {
    margin-left: 10px; /* 원하는 간격 크기를 설정하세요 */
}
.hidden {
    display: none; /* 또는 visibility: hidden; */
}
  </style>
  <script>
    function toggleFloors() {
        const dropdown = document.getElementById('floorDropdown');
        if (dropdown.classList.contains('hidden')) {
            dropdown.classList.remove('hidden');
        } else {
            dropdown.classList.add('hidden');
        }
    }
  </script>
<% 
function formatDate(date) {
  let d = new Date(date),
      month = '' + (d.getMonth() + 1),
      day = '' + d.getDate(),
      year = d.getFullYear().toString().substr(-2); // get last two digits of year

  if (month.length < 2) 
      month = '0' + month;
  if (day.length < 2) 
      day = '0' + day;

  return [year, month, day].join('/');
}
%>
<div id="whole">
  <nav>
    <ul>
        <li><a href="/boards">게시판</a></li>
        <li>
          <a href="javascript:void(0);" onclick="toggleFloors()">주차장</a>
          <div id="floorDropdown" class="hidden">
              <a href="/parking/1">1층 주차장</a><br>
              <a href="/parking/2">2층 주차장</a><br>
              <a href="/parking/3">3층 주차장</a><br>
          </div>
        </li>
        <li><a href="/user/list">회원 목록</a></li>
        <li><a href="/notify">알림</a></li>
    </ul>
    <div class="user">
      <a href="/logout">
        <button id="logout">로그아웃</button>
    </a>
    </div>
  </nav>
<div class="main">
<div class="container mt-5">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <button class="btn btn-primary my-3" onclick="location.href='/boards'">뒤로가기</button>
    <button onclick="window.location.href='/boards/<%= boardCode %>/posts/new'" class="btn btn-success mt-2">글 작성</button>
  </div>
  <% if (posts && posts.length > 0) { %>
    <h2 class="my-4"><%= posts[0].board_name %></h2>
  <% } %>
  <table class="table table-hover table-sm table-bordered">
    <colgroup>
       <col style="width: 7%;">
       <col style="width: *;">
       <col style="width: 8%;">
       <col style="width: 1%;">
    </colgroup>
    <thead>
      <tr>
        <th scope="col">번호</th>
        <th scope="col">제목</th>
        <th scope="col">조회수</th>
        <th scope="col">작성일</th>
      </tr>
    </thead>
    <tbody>
      <% posts.forEach(function(post){ %>
        <tr>
          <td><%= post.post_code %></td>
          <td><a href="/boards/<%= post.board_code %>/posts/<%= post.post_code %>"><%= post.title %></a></td>
          <td><%= post.view %></td>
          <td><%= formatDate(post.post_date) %></td>
        </tr>
      <% }); %>
    </tbody>
  </table>
</div>
</div></div>