<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원 정보 수정</title>
    <style>
        #whole {
  display: grid;
  grid-template-columns: 1fr 19fr;
  height: 800px;
  position: fixed;
  top: 0; 
  left: 0; 
}

nav {
  background-color: #333;
  width: 200px;
  color: #fff;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav li {
  padding: 10px;
}

nav a {
  text-decoration: none;
  color: #fff;
}

nav a:hover {
  color: #ff7f00;
}

.user {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.user span {
  margin-right: 10px;
}

#logout {
  background-color: #ff7f00;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

#logout:hover {
  background-color: #ff4500;
}
  </style>
</head>
<body>
    <div id="whole" >
        <nav>
          <ul>
              <li><a href="/boards">게시판</a></li>
              <li><a href="/parking">주차장</a></li>
              <li><a href="/user/list">회원 목록</a></li>
              <li><a href="/notify">알림</a></li>
          </ul>
          <div class="user">
            <span>사용자 이름</span>
            <a href="/logout">
                <button id="logout">로그아웃</button>
            </a>
        </div>
        </nav>
        <div class="main">
    <h1>회원 정보 수정</h1>
    <form method="POST" action="/user/update/<%= result.userInfo[0].id %>" onsubmit="return validateForm()">
        <label for="id">아이디:</label>
        <span id="id"><%= result.userInfo[0].id %></span><br>
        <label for="name">이름:</label>
        <span id="nameSpan"><%= result.userInfo[0].name %></span>
        <input type="text" id="nameInput" name="name" style="display: none;">
        <button type="button" onclick="toggleEdit('nameInput', 'nameSpan')">수정하기</button><br>
        <label for="phone_number">전화번호:</label>
        <span id="phone_numberSpan"><%= result.userInfo[0].phone_number %></span>
        <input type="text" id="phone_numberInput" name="phone_number" style="display: none;">
        <button type="button" onclick="toggleEdit('phone_numberInput', 'phone_numberSpan')">수정하기</button><br>
        <label for="email">이메일:</label>
        <span id="emailSpan"><%= result.userInfo[0].email %></span>
        <input type="text" id="emailInput" name="email" style="display: none;">
        <button type="button" onclick="toggleEdit('emailInput', 'emailSpan')">수정하기</button><br>
        <label for="dong">동:</label>
        <span id="dongSpan"><%= result.userInfo[0].dong %></span>
        <input type="text" id="dongInput" name="dong" style="display: none;">
        <button type="button" onclick="toggleEdit('dongInput', 'dongSpan')">수정하기</button><br>
        <label for="ho">호수:</label>
        <span id="hoSpan"><%= result.userInfo[0].ho %></span>
        <input type="text" id="hoInput" name="ho" style="display: none;">
        <button type="button" onclick="toggleEdit('hoInput', 'hoSpan')">수정하기</button><br>

        <input type="submit" value="수정" onclick="reloadPage()">
        <button type="button" onclick="confirmDelete()">삭제</button>
    </form>
        </div></div>
    <script>
        function toggleEdit(inputId, spanId) {
            var inputElement = document.getElementById(inputId);
            var spanElement = document.getElementById(spanId);
            
            if (inputElement.style.display === 'none') {
                inputElement.style.display = 'inline';
                spanElement.style.display = 'none';
                inputElement.value = spanElement.innerText; // 수정 버튼을 눌렀을 때 값을 표시
            } else {
                inputElement.style.display = 'none';
                spanElement.style.display = 'inline';
                spanElement.innerText = inputElement.value;
            }
        }

        function confirmDelete() {
            var deletionConfirmation = confirm('정말로 삭제하시겠습니까?'); // 삭제 확인 대화 상자

            if (deletionConfirmation) {
                var form = document.createElement('form');
                form.method = 'POST';
                form.action = '/user/delete/' + '<%= result.userInfo[0].id %>'; 
                document.body.appendChild(form);
                form.submit();
                reloadPage();
            }
        }
        function reloadPage() {
            location.reload();
        }
    </script>

</body>
</html>
