<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원 목록</title>
    <style>
        #whole {
  display: grid;
  grid-template-columns: 1fr 19fr;
  height: 800px;
  position: fixed;
  top: 0; 
  left: 0; 
}

nav {
  background-color: #333;
  width: 200px;
  color: #fff;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav li {
  padding: 10px;
}

nav a {
  text-decoration: none;
  color: #fff;
}

nav a:hover {
  color: #ff7f00;
}

.user {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.user span {
  margin-right: 10px;
}

#logout {
  background-color: #ff7f00;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

#logout:hover {
  background-color: #ff4500;
}
  </style>
</head>
<body>
    <div id="whole" >
        <nav>
          <ul>
              <li><a href="/boards">게시판</a></li>
              <li><a href="/parking">주차장</a></li>
              <li><a href="/user/list">회원 목록</a></li>
              <li><a href="/notify">알림</a></li>
          </ul>
          <div class="user">
            <span>사용자 이름</span>
            <a href="/logout">
                <button id="logout">로그아웃</button>
            </a>
        </div>
        </nav>
        <div class="main">
    <h1>회원 목록</h1>
    
    <!-- 검색 폼 추가 -->
    <form method="GET" action="/user/list">
        <label for="searchField"></label>
        <select id="searchField" name="field">
            <option value="name">이름</option>
            <option value="phone_number">전화번호</option>
            <option value="car_number">차 번호</option>
        </select>
        <label for="searchValue"></label>
        <input type="text" id="searchValue" name="value">
        <input type="submit" value="검색">
    </form>

    <table>
        <tr>
            <th>번호</th>
            <th>아이디</th>
            <th>이름</th>
            <th>전화번호</th>
            <th>이메일</th>
            <th>동</th> 
            <th>호</th>
            <th>일반 차량</th>
            <th>방문 차량</th>
        </tr>
        <% for (let i = 0; i < result.length; i++) { %>
            <tr>
                <td><%= i + 1 %></td>
                <td><%= result[i].id %></td>
                <td><%= result[i].name %></td>
                <td><%= result[i].phone_number %></td>
                <td><%= result[i].email %></td>
                <td><%= result[i].dong %></td>
                <td><%= result[i].ho %></td> 
                <td><%= result[i].normal_car_numbers %></td> 
                <td><%= result[i].visitor_car_numbers %></td> 
                <td><a href="/user/update/<%= result[i].id %>">회원정보 수정</a></td>
                <td><a href="/user/updateCar/<%= result[i].id %>">차 정보 수정</a></td>
            </tr>
        <% } %>
    </table>
        </div></div>
</body>
</html>
