<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원 목록</title>
</head>
<body>
    <h1>회원 목록</h1>
    
    <!-- 검색 폼 추가 -->
    <form method="GET" action="/user/list">
        <label for="searchField"></label>
        <select id="searchField" name="field">
            <option value="name">이름</option>
            <option value="phone_number">전화번호</option>
            <option value="car_number">차 번호</option>
        </select>
        <label for="searchValue"></label>
        <input type="text" id="searchValue" name="value">
        <input type="submit" value="검색">
    </form>

    <table>
        <tr>
            <th>번호</th>
            <th>아이디</th>
            <th>이름</th>
            <th>전화번호</th>
            <th>이메일</th>
            <th>동</th> 
            <th>호</th>
            <th>일반 차량</th>
            <th>방문 차량</th>
        </tr>
        <% for (let i = 0; i < result.length; i++) { %>
            <tr>
                <td><%= i + 1 %></td>
                <td><%= result[i].id %></td>
                <td><%= result[i].name %></td>
                <td><%= result[i].phone_number %></td>
                <td><%= result[i].email %></td>
                <td><%= result[i].dong %></td>
                <td><%= result[i].ho %></td> 
                <td><%= result[i].normal_car_numbers %></td> 
                <td><%= result[i].visitor_car_numbers %></td> 
                <td><a href="/user/update/<%= result[i].id %>">회원정보 수정</a></td>
                <td><a href="/user/updateCar/<%= result[i].id %>">차 정보 수정</a></td>
            </tr>
        <% } %>
    </table>
</body>
</html>
